<%- include('layout/header.ejs') %>
<div class="container-fluid">
    <h2 class="h3 text-gray-800">View Sheet</h2>
    <div class="container-fluid mt-2 pt-3 px-0">
      <iframe frameborder="0" style="width: 100%; height: 80vh;" scrolling="no" src="https://onedrive.live.com/embed?resid=92591969FFE715E6%2150056&authkey=%21AAOU37nLciBmVo8&em=2&wdAllowInteractivity=False&wdHideGridlines=True&wdHideHeaders=True&wdDownloadButton=True&wdInConfigurator=True"></iframe>
    </div>
  </div>
<%- include('layout/footer.ejs') %>