<%- include('layout/header.ejs') %>
<div class="container-fluid">
    <h2 class="h3 text-gray-800">View Sheet</h2>
    <div class="container-fluid mt-2 pt-3 px-0">
      
    </div>
  </div>
<%- include('layout/footer.ejs') %>