<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/bootstrap.css">
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="icon" href="demo_icon.gif" type="image/gif" sizes="16x16">
    <title><%= title %></title>
</head>
<body>
    <nav class="navbar navbar-dark navbar-expand-lg bg-info">
        <a class="navbar-brand" href="/">Home</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/auth/login">Login <span class="sr-only"></span></a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" href="/auth/register">Register <span class="sr-only"></span></a>
              </li>
          </ul>
          <% if(typeof isAuth != 'undefined' && isAuth){ %>
            <ul class="navbar-nav pr-5">
              <li class="nav-item dropdown float-right pr-5">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <%= name %>
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Profile</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/auth/logOut">LogOut</a>
                  </div>
                </li>
            </ul>
          <% } %>
        </div>
      </nav>
