<%- include('layouts/header.ejs') %>


<div class="container pt-5 center">
    <div class="card w-50">
        <div class="card-header pb-1">
            <h3>Login</h3>
        </div>
        <div class="card-body">
            <form method="POST">
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" name="email" class="form-control" placeholder="sohailkhan.sk@hotmail.com">
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" name="password" class="form-control" placeholder="*********">
                </div>
                <% if(typeof error != 'undefined' && error) { %>
                    <div class="alert alert-warning alert-dismissible fade show" role="alert">
                        <%= error %>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                <% } %>
                <div class="form-group">
                    <button class="btn btn-info btn-block">Login</button>
                    <a href="/auth/register" class="btn btn-default btn-block border">Register</a>
                </div>
            </form>
        </div>
    </div>
</div>


<%- include('layouts/footer.ejs') %>