.bg-purple {
    background-color: purple;
}

.bg-blue {
    background-color: #3259CA;
}

* {
    border-radius: 0 !important;
}

.center {
    display: flex; 
    justify-content: center; 
    align-items: center;
}